<% content_for :title do %>
 Iglesia Bautista Monte de Sion - Contactanos
<% end %>
<% content_for :description do %>
 Sitio oficial de la Iglesia Iglesia Bautista Monte de Sion en Barranquilla Colombia. Lugar de bendición.
<% end %>
<% content_for :keywords do %>
 iglesia, Dios, bautista, bautista monte de sion, Iglesia Bautista Monte de Sion Barranquilla, ibms barranquilla, ibms, bautistamontedesion
<% end %>

<body>
    <div class="navbar transparent navbar-inverse navbar-static-top">
      <%= render 'shared/header' %>
    </div>

    <div id="contact">
        <div class="container">
            <div class="section_header" style="margin-bottom:0px;">
                <h3>Contactanos</h3>
            </div>
            <div class="row contact">
                <p>
                  En la Iglesia Bautista Monte de Sion deseamos escuchar y conocer sus dudas o peticiones de oración para poderles apoyar en éstas. Recuerda que la oración eficaz del justo puede mucho (Santiago 5:16).
                </br>
                  Por favor llene el formulario que encontrará a continuación y luego de click en "Enviar." Te respondéremos tan pronto como sea posible. Que tengas buen día y que el Señor te bendiga.
                </p>

                <%= form_for Message.new do |f| %>
                  <div class="row form">
                    <div class="span6 box">
                      <%= f.text_field :name, :class => 'name', :placeholder => "Nombre" %>
                      <%= f.text_field :email, :class => 'mail', :placeholder => "Correo" %>
                      <%= f.text_field :phone, :class => 'phone', :placeholder => "Telefono" %>
                    </div>
                    <div class="span6 box box_r">
                      <%= f.text_area :content, :placeholder => "Escribe tu mensaje aquí..." %>
                    </div>
                    <div class="row submit">
                        <div class="span5 box">
                            <label class="checkbox">
                                <!-- <input type="checkbox" /> Suscríbete a nuestros mensajes diarios. -->
                            </label>
                        </div>
                        <div class="span3 right">
                            <%= f.submit "Enviar" %>
                        </div>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>

        <div class="row map">
            <div class="container">
                <div class="span5 box_wrapp">
                    <div class="box_cont">
                        <div class="head">
                            <h6>Visitanos</h6>
                        </div>
                        <ul class="street">
                            <li>Cra 4B # 23 - 77 Simón Bolivar.</li>
                            <li>Barranquilla, Atlantico. Colombia,</li>
                            <li class="icon icontop">
                                <span class="contacticos ico1"></span>
                                <span class="text">+57 5 3269648</span>
                            </li>
                            <li class="icon">
                                <span class="contacticos ico2"></span>
                                <a class="text" href="mailto:bautistamontedesion@gmail.com?Subject=Contacto" target="_top">bautistamontedesion@gmail.com</a>
                            </li>
                        </ul>

                        <div class="head headbottom">
                          <p>
                            Porque mejor es un día en tus atrios que mil fuera de ellos.
                            Escogería antes estar a la puerta de la casa de mi Dios,
                            Que habitar en las moradas de maldad. (Salmos 84:10)
                          </p>
                        </div>

                        <a href="#" class="btn">Contactar</a>
                    </div>
                </div>
            </div>
            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps/ms?msa=0&amp;msid=208437203173588956071.0004ee0e6b934e30fb79c&amp;ie=UTF8&amp;ll=10.942406,-74.782906&amp;spn=0,0&amp;t=m&amp;iwloc=0004ee0e6b9526b376ff0&amp;output=embed"></iframe>
        </div>
    </div>

    <%= render :partial => 'shared/footer', :locals => {:custom_style => 'margin-top:0px;' } %>
</body>