<% content_for :title do %>
 Iglesia Bautista Monte de Sion - Inicio
<% end %>
<% content_for :description do %>
 Sitio oficial de la Iglesia Iglesia Bautista Monte de Sion en Barranquilla Colombia. Lugar de bendición.
<% end %>
<% content_for :keywords do %>
 iglesia, Dios, bautista, bautista monte de sion, Iglesia Bautista Monte de Sion Barranquilla, ibms barranquilla, ibms, bautistamontedesion
<% end %>

<body class="pull_top">
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
      <%= render 'shared/header' %>
    </div>

    <section id="feature_slider" class="">
        <article class="slide" id="showcasing" style="background: url('assets/backgrounds/nuestros_servicios.jpg') repeat-x top center;">
            <div class="info">
            </div>
        </article>
        <article class="slide" id="ideas" style="background: url('assets/backgrounds/jovenes.png') repeat-x top center;">
            <div class="info">
            </div>
        </article>
        <article class="slide" id="tour" style="background: url('assets/backgrounds/mentoreo.jpg') repeat-x top center;">
            <div class="info">
            </div>
        </article>
        <article class="slide" id="responsive" style="background: url('assets/backgrounds/paseo.jpg') repeat-x top center;">
            <div class="info">
            </div>
        </article>
    </section>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>Nuestra Iglesia</h3>
            </div>
            <div class="row feature">
                <div class="span6 l_b_radius">
                    <img src="assets/familia.jpg" class="landing-image-size"/>
                </div>
                <div class="span6 info">
                    <h3>
                        Familia
                    </h3>
                    <p>
                        Cuando hay compromiso las metas de la familia son más importantes que las metas personales, que todos los miembros de mi familia tengan éxito es más valioso que mi éxito personal

                        Soportándoos unos a otros y, si uno tiene una queja contra otro, perdónense mutuamente, como Cristo os perdonó, así también hacedlo vosotros – Colosenses 3:13
                    </p>
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6 info">
                    <h3>
                        Jovenes
                    </h3>
                    <p>
                        Somos una generación enfocada y apasionada por influenciar a cada joven de nuestra nación con la palabra y el poder del reino de Dios, con el propósito de que esta llegue a cada nación de l a tierra, y el reino de Dios sea establecido en cada vida y cada corazón de los jóvenes.
                        </br>Como grupo tenemos mucha ambición por el crecimiento espiritual y deseamos ver las vidas de cada joven transformados por el fuego y el poder del Espiritu Santo! No tenemos mayor placer que ver a los jovenes de nuestra congregacion ser tocados y transformados por Jesús.

                        </br><i>Te invitamos a que nos visites los sábados a las 6 pm.</i>
                    </p>
                </div>
                <div class="span6 l_b_radius">
                    <img src="assets/jovenes.jpg" class="pull-right" class="landing-image-size"/>
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6 l_b_radius">
                    <img src="assets/ninos.jpg" class="landing-image-size"/>
                </div>
                <div class="span6 info">
                    <h3>
                        Niños
                    </h3>
                    <p>
                        El ministerio infantil brinda a los niños que asisten a la iglesia una formación especial en los principios cristianos para que, mediante herramientas acordes a cada edad, puedan ser guiados a tener una relación personal con Jesús. Así velar por el crecimiento y madurez en la palabra de Dios de cada niño y niña de la congregación.

                        "Jesus Dijo: Dejad a los niños venir a mí, y no se lo impidáis; porque de los tales es el reino de los cielos. "Mateo. 19:14

                        <i>Escuela Dominical para niños Domingos 9:30 Am</i>
                </div>
            </div>
        </div>
    </div>

    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="span4 recent_posts">
                    <h3 class="footer_header">
                        Publicaciones recientes
                    </h3>
                    <% @posts.each do |post| %>
                      <div class="post">
                          <a href="<%= post_path(post)%>">
                            <%= image_tag post.avatar.url(:medium), :class => 'img-circle', :style => 'width:62px;height: 62px;'%>
                          </a>
                          <div class="date">
                              <%= l post.created_at, :format => :custom %>
                          </div>
                          <a href="<%= post_path(post)%>" class="title">
                              <%= post.title %>
                          </a>
                      </div>
                    <% end %>
                </div>
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        Tweets
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ibms_b/favorites" data-widget-id="435793914016980992">Tweets Favoritos de @ibms_b</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">
                        Contacto
                    </h3>
                    <ul>
                      <span>Cra 4B # 23 - 77 Simón Bolivar.</span>
                      </br>
                      <span>Barranquilla, Atlantico. Colombia,</span>
                      </br>
                      <span>
                          <span class="text">+57 5 3269648</span>
                      </span>
                      <span>
                          <a class="text" href="mailto:bautistamontedesion@gmail.com?Subject=Contacto" target="_top">bautistamontedesion@gmail.com</a>
                      </span>
                    </ul>

                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                      <div class="span12">
                        <a href="https://www.facebook.com/pages/Iglesia-Bautista-Monte-de-Sion/476677389087978" class="facebook" target='_blank'>
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="https://twitter.com/ibms_b" class="twitter" target='_blank'>
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>
                        <a href="https://plus.google.com/105561321367371977576/posts" class="gplus" target='_blank'>
                            <span class="socialicons ico3"></span>
                            <span class="socialicons_h ico3h"></span>
                        </a>
                      </div>
                    </div>
                    <div class="row copyright">
                        <span style="display: none;">SendGrid.</span>
                      <div class="span12">
                        © 2014 Iglesia Bautista Monte de Sion. Todos los Derechos Reservados. Prohibida su reproducción total o parcial sin autorización escrita de su titular. Reproduction in whole or in part, or translation without written permission is prohibited. All rights reserved 2014.
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>