<body>
    <div class="navbar transparent navbar-inverse navbar-static-top">
      <%= render 'shared/header' %>
    </div>

    <div id="blog">
        <div class="container">
            <div class="section_header">
                <h3>Mensajes de Dios para tu vida</h3>
                <%= form_tag posts_path, method: :get do %>
                  <%= text_field_tag 'search', nil, :class => 'input-large search-query', :placeholder => 'Search' %>
                <% end %>
            </div>
              <%= render 'post' %>
            <%= paginate @posts %>
        </div>
    </div>
    <%= render :partial => 'shared/footer', :locals => {:custom_style => nil } %>
</body>
</html>