<body>
    <div class="navbar transparent navbar-inverse navbar-static-top">
      <%= render 'shared/header' %>
    </div>

    <div id="blog_post">
        <div class="container">
            <div class="section_header">
                <h3>Mensajes de Dios para tu vida</h3>
                <%= form_tag posts_path, method: :get do %>
                  <%= text_field_tag 'search', nil, :class => 'input-large search-query', :placeholder => 'Buscar' %>
                <% end %>
            </div>

            <div class="row">
                <div class="span8">
                    <%= image_tag @post.avatar.url(:large), :class => 'post_pic' %>

                    <div class="post_content">
                        <h2><%= @post.title %></h2>
                        <span class="date"><%= @post.created_at.strftime('%a, %d %b') %></span>
                        <%= @post.content.html_safe %>

                        <div class="author_box">
                          <% references = @post.author.split('-') %>
                          <div class="author"><%= references[0] %></div>
                          <div class="area"><%= references[1] %></div>
                        </div>
                    </div>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target="_blank" onclick="window.open(this.href, 'mywin','left=20,top=20,width=670,height=290,toolbar=1,resizable=0'); return false;">
                      <img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yQ/r/7GFXgco-uzw.png" alt="" width="14" height="14">
                      Compartir en Facebook
                    </a>
                </div>

                <!-- SideBar -->
                <div class="span3 sidebar offset1">

                    <div class="box box2">
                        <div class="sidebar_header">
                            <h4>Publicaciones recientes</h4>
                        </div>

                        <% @posts.each do |post| %>
                          <div class="recent">
                            <%= link_to post_path(post) do %>
                              <span>
                                  <%= image_tag post.avatar.url(:thumb) %>
                              </span>
                              <p><%= truncate(post.title, :length => 45) %></p>
                            <% end %>
                          </div>
                        <% end %>
                    </div>

                    <div class="box">
                        <div class="sidebar_header">
                            <h4>Anuncios</h4>
                        </div>
                        <ul class="recent_photos">
                            <% @ads.each do |ad| %>
                              <li>
                                <a href="#myModal" role="button" data-toggle="modal" data-load-remote="<%= ad_path(ad) %>" data-remote-target="#myModal .modal-body">
                                  <% if ad.image_content_type.match('video') %>
                                    <%= image_tag 'videos.jpg' %>
                                  <% else %>
                                    <%= image_tag ad.image.url(:medium) %>
                                  <% end %>
                                </a>
                              </li>
                            <% end %>
                        </ul>
                        <%= render :partial => 'ads/ads_modal' %>
                    </div>
                </div>
            </div>
        </div>

    <%= render :partial => 'shared/footer', :locals => {:custom_style => nil } %>
    <script type="text/javascript">
      $('[data-load-remote]').on('click',function(e) {
        e.preventDefault();
        var $this = $(this);
        var remote = $this.data('load-remote');
        if(remote) {
          $('.modal-body').html("<img src='../assets/loading.gif' />");
          $($this.data('remote-target')).load(remote, function( response, status, xhr ) {
          });
        }
      });
    </script>
</div></body>
</html>